# Final Project - Advanced Programming in Python

### Topic: Data processing and analysis 

#### Libraries in use:
Numpy, Pandas, Matplotlib, seaborn, scikit learn

### written by:

Oren  Drori        316081884

Rotem Mihailovitch 316217538

## I) Business understanding

based on the given data set. we will try to answer the next questions:

### 1)  Is it possible to predict or estimate the flight price of a domestic flight in India based on route, airline or date?

the question is S.M.A.R.T because:

#### Specific-
the question is specific enough for us to create an algorithm that will do this.
#### Measurable-
the question is measurable because we have the information that can help us understand how good our code really is.

over more, even if we will try running the code in the real world we will eventually be able to check the predictions accuracy
#### Assignable-
להכניס חלוקת תפקידים
#### Realistic-

#### Time related-

### 2) How many groups can the flights be divided to so that each group will have flights that are similar to each other?

the question is S.M.A.R.T because:

#### Specific-

#### Measurable-

#### Assignable-

#### Realistic-

#### Time related-

## II)

In [111]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl

In [112]:
dataframe=None
try:
    dataframe = pd.DataFrame(pd.read_excel("flights.xlsx"))
    print("file Loaded.")
except Exception as bug:
    print("Error occurred:", bug)

file Loaded.

extraction of basic information about what we have in the data frame:

In [113]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date             13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            13354 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

checking for statistics about the diffrent columns in the data frame

In [120]:
dataframe['Total_Stops'].value_counts()
dic={"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stop":4}

1 stop      7056
non-stop    4340
2 stops     1899
3 stops       56
4 stops        2
Name: Total_Stops, dtype: int64

isolation of the rows which has a missing information

In [115]:
dataframe[dataframe['Route'].isna()]

,Airline,Date,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480.0

# III) Data prepration

changing Duration column type to float using pandas timedelta functionality:

In [116]:
dataframe["Duration"]=dataframe["Duration"].apply(lambda x: ((pd.to_timedelta(x).total_seconds())/60)/60)

In [117]:
k_means_dict={'k':range(2,dataframe.shape[0]-1),'SSE':[]}